<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/events/cubical_realm.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <title>AIVerse 1.0 | Cubical Real</title>
    <link rel="icon" type="images/x-icon" href="/Static_images/ailogo.png" />

</head>
<body>
    <div class="event" id="cubicreal">
        <div class="image">
            <img src="/Static_images/Cubic REalm.png"  alt="event-image">
        </div>

        <div class="text-right">
            <h2>Cubic Realm</h2>
            <p>
                <h3>St. Vincent Pallotti College of Engineering & Technology AIVerse 1.0 Presents</h3><br>
                <h3>🎮 Cubic Realm🎮</h3><br><br>

                <h3>About The Event</h3>
                Gear up for an epic showdown like never before, as "AI Verse 1.0: Cubic Realm" takes center stage, brought
                to you by the Department of Artificial Intelligence of St. Vincent Pallotti College of Engineering and
                Technology. This thrilling event is all set to redefine excitement with three heart-pounding rounds that
                promise to push boundaries and ignite your competitive spirit.
                <br><br>

                📎 Registration Fee : <br>
                Rs. 100/- for duo <br>
                Rs. 70/- for solo <br><br>

                <h3>Rules: </h3>
                1. Round One: BedWars <br>
                - Immerse in a virtual strategic battleground <br>
                - Unleash your creativity and tactical skills <br>
                - Craft, battle, and conquer to claim the throne <br> <br>

                2. Round Two: Parkour Game <br>
                - Feel the rush in a high-speed obstacle odyssey <br>
                - Reflexes and precision will be your closest allies <br>
                - Navigate through an intricate labyrinth of challenges <br><br>

                3. Round Three: PVP (Player vs Player) <br>
                - Witness the ultimate showdown <br>
                - Lock horns with opponents in a pulse-pounding faceoff <br>
                - Triumph belongs only to the boldest and most skilled <br> <br>

                Step into the future of gaming with "Cubic Realm" Register now to secure your spot and embark on a thrilling
                journey that promises adrenaline, innovation, and unforgettable memories! <br><br>

                <h3>Prizes: </h3>
                - Jaw-dropping rewards worth Rs. 2000/-  await the champions <br> <br>

                📳 Regarding any queries contact:-
                <span>📞 Devanshu Kolhe : <a href="tel: 9975188992" style="color:white;">9975188992</a> </span>
                <span>📞 Pritish Manwatkar : <a href="tel: 8262963069" style="color:white;">8262963069</a> </span>
                </p>

        </div><br>

        <div class="buttons">
            <a href="/explore">Explore more</a>
            <a href="/reg?event=Cubic Realm">Register</a>

        </div>



    </div>

</body>

</html>