<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/events/opti_ml.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">
    <title>AIVerse 1.0 | Opti-ML</title>
    <link rel="icon" type="images/x-icon" href="/Static_images/ailogo.png" />

</head>
<body>
    <div class="event" id="cubicreal">
        <div class="image">
            <img src="/Static_images/opti.png"  alt="event-image">
            <!-- <img src="{% static 'C:\Users\PC\Desktop\AIEvent\AIevent\AIverse\static\Static_images\opti-ml.jpeg' %}"  alt="event-image"> -->
        </div>

        <div class="text-right">
            <h2>OptiML</h2>
            <p>
                <h3>St. Vincent Pallotti College Of Engineering & Technology Present AIVerse 1.0</h3> <br>
                <h3>🚀Unleash the Power of AI at OptiML🌟</h3> <br><br>

                <h3>About The Event</h3>

                <span style="text-decoration: underline;">Hands-On Experience :</span> Get ready for an immersive dive into
                The world of machine learning! "optiML" isn't
                just about theory; it's a hands-on experience that will bring your machine learning skills to life. You'll
                build, train, and fine-tune machine learning models—a skill crucial in a world driven by data and AI. You'll
                not only learn to predict outcomes but also understand the 'why' behind them, honing your analytical skills.
                <br>
                <span style="text-decoration: underline;">Real-World Problem Solving :</span> You won't just be tackling
                textbook problems. "optiML" challenges you with a
                real-world dataset, making your solutions impactful and relevant to industry scenarios. <br>
                <span style="text-decoration: underline;">Teamwork and Collaboration :</span> Form a dynamic duo with a
                teammate! "optiML" encourages teamwork, giving you a
                taste of how collaboration fuels innovation in the real world. <br>
                <span style="text-decoration: underline;">Thrilling Competition :</span> Join the excitement of a two-round
                challenge where only the brightest minds emerge
                victorious. Sharpen your skills, tackle challenges, and compete to claim the ultimate machine learning
                glory! <br>
                <span style="text-decoration: underline;">Interactive Workshops :</span> Gain a competitive edge with our
                pre-event workshops. Brush up on machine learning
                essentials and learn tips and tricks from us.
                <br><br>

                🔥 Ignite your curiosity with Mind-Blowing AI Insights <br>
                🎙️ Engage in Thought-Provoking Discussions <br>
                🏆 Win Prizes Rs.2000/- that Spark Excitement <br><br>

                <h3>Rules: </h3>
                • Teams of Three: Pair up with a teammate or two to maximize creativity and collaboration. Two heads are better than
                one! <br>
                • Two Exciting Rounds: A data-driven hackathon that pushes your skills to the limit. followed by a quiz-based challenge that gauges your foundational knowledge.<br>
                • Showcase Your Model: Present your machine learning model to the judges and fellow participants.
                Communication is key, and this is your chance to shine! <br> <br>


                For more details contact: <br>
               <span>📞 Anvesh Khambadkar(coordinator): <a href="tel: 9637250270" style="color:white;">9637250270</a></span>
                <span>📞 Ketan Bhole(co-coordinator): <a href="tel: 9579169514" style="color:white;">9579169514</a> </span>
                </p>

        </div>
        <div class="buttons">
            <a href="/explore">Explore more</a>
            <a href="/reg?event=optiML">Register</a>

        </div>

    </div>

</body>

</html>