*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

#QR{
    width: 250px;

}

.main-div{
    width: 26rem;
    /* margin-top: 4rem; */
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    background-color: #f1f2f7;
}

.main-div h1{
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    /* animation: animate2 10s linear infinite; */
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#submitBtn{
    width: fit-content;
    margin-top: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight:700;
    font-size: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    /* animation: animate2 10s linear infinite; */
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#transaction-id{
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 17px;
    background-color: transparent;
}

#transaction-id:focus{
    outline: none;
    border-bottom: 2px solid rgb(173, 173, 173);
}


@media screen and (max-width: 567px){

   body{
    height: 100vh;
   }

   .main-div{
    margin-top: 50px;
   }
}

