<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <link rel="stylesheet" href="css/about_dept.css"> -->
    <link rel="stylesheet" href="/css/about_dept.css">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
        rel="stylesheet">

    <title>About Department</title>
    
    <!-- <link rel="icon" type="images/x-icon" href="{% static 'Static_images\AIverse_logo.png' %}" /> -->
    <!-- <link rel="icon" type="images/x-icon" href="/public/Static_images/" /> -->
    <link rel="icon" type="images/x-icon" href="/Static_images/ailogo.png" />

</head>
<body>
    <!-- header section  -->
    <header class="navbar nav-colored nav-transparent" id="navbar">
        <div class="header">
            <div id="logo">
                <a href="#">
                    <h1>Artificial Intelligence</h1>
                    <p>St.Vincent Pallotti College Of Engineering And Technology</p>
                </a>
            </div>
            <div class="menu">
                <ul class='menu-links'>
                    <li><a href="/" >HOME</a></li>
                    <li><a href="/login" >ADMIN LOGIN</a></li>
                    <li><a href="/reg" >REGISTRATION</a></li>

                </ul>
            </div>

            <div class="home">
                <a href="/">Home</a>
            </div>

        </div>
    </header>

    <!-- about department  -->

    <div class="about-dept">
        <h2 data-aos="fade-up">ABOUT DEPARTMENT</h2>

        <div class="vision-mission">
            <div class="ourvision" >
                <h3>OUR VISION</h3><br>
                <p>To become a centre of excellence in the field of Artificial Intelligence, enabling students with
                    a
                    high level of technical and practical capabilities to address the needs of industry and society.
                </p>
            </div>
            <div class="ourmission">
                <h3>OUR MISSION</h3><br>
                <p>To develop skilled professionals in the field of artificial intelligence (AI).
                    To provide high-quality, value-based education and to contribute to computing, expert systems,
                    and
                    data science innovation in order to increase the level of satisfaction among all stakeholders.
                    Our goal is to use cutting-edge high-performance computing technology and software.
                </p>
            </div>
        </div>
        <div class="photo-message">
            <div class="incharge-photo">
                <!-- <img src="{% static 'Static_images/HOD_image.jpg' %}" class="incharge-image" alt="HOD image"> -->
                <img src="/Static_images/HOD_image.jpg" class="incharge-image" alt="HOD image">
                <h4>Mr. Vikas G. Bhowate</h4>
                <p>Incharge Of AI</p>
            </div>
            <div class="incharge-message">
                <h3>INCHARGE MESSAGE</h3><br>
                <p>B. Tech. in Artificial Intelligence is an undergraduate programme that offers advanced learning
                    solutions and emphasizes advanced innovations such as machine learning, also known as deep
                    learning
                    and artificial intelligence.
                    With a cutting-edge combination of machine learning, analytics, and visualisation technologies,
                    students will be able to construct intelligent machines, software, or applications. Artificial
                    intelligence (AI) has as their major goal the programming of computers to solve problems using
                    example data or experience. Many successful machine learning applications already exist, such as
                    systems that analyse past sales data to predict customer behaviour (financial management),
                    recognise
                    faces or spoken speech, optimise robot behaviour to complete a task with minimal resources, and
                    extract knowledge from bioinformatics data.
                    This curriculum examines AI methods from several domains, such as neural networks, signal
                    processing, Gaming, Data Analytics and data mining, in order to give a comprehensive examination
                    of
                    machine learning challenges and solutions.</p>
                </div>
            </div>
        </div>

        <!-- faculty details  -->
        <div class="faculty-main-div">
            <div class="faculty-heading">
                <h2>Faculty Details</h2>
            </div><br><br>
            
            <div class="faculty">
                <div class="image">
                    <!-- <img src="{% static 'Static_images/HOD_image.jpg' %}" alt=""> -->
                    <img src="/Static_images/HOD_image.jpg" class="incharge-image" alt="HOD image">
                    
            </div>

            <div class="discription">
                <h3>Mr. Vikas G. Bhowate</h3>
                <p>Assistant Professor,</p>
                <p>Incharge Of AI</p><br><hr><br>

                <h4 style="text-decoration: underline;">Qualification :</h4>
                <table>
                    <tr>
                        <th>Degree</th>
                        <th>Program</th>
                        <th>Institute/University</th>
                        <th>Year</th>

                    </tr>

                    <tr>
                        <td>PhD</td>
                        <td>PhD(Computer Science & Engineering)</td>
                        <td>Vishveswarya Technological University, Belgaum , Karnataka</td>
                        <td>Persuing</td>

                    </tr>

                    <tr>
                        <td>PG</td>
                        <td>M. E.(Computer Engineering)</td>
                        <td>Pune University, Pune</td>
                        <td>2010</td>

                    </tr>

                    <tr>
                        <td>UG</td>
                        <td>BE(Information Technology)</td>
                        <td>Swami Ramanand Tirth marathwada University,Nanded</td>
                        <td>2004</td>

                    </tr>
                </table><br><hr><br>
                <h4 style="text-decoration: underline;">Experience :</h4>
                <p>10.9 Years in Academics, Industry 2.7 Years</p>
            </div>
            

        </div><br><br>

        <div class="faculty">
            <div class="image">
                <!-- <img src="{% static 'Static_images/pooja_1633585732.jpg' %}" alt=""> -->
                <img src="/Static_images/pooja_1633585732.jpg" alt="">
            </div>

            <div class="discription">
                <h3>Mrs. Pooja B. Wagh</h3>
                <p>Assistant Professor</p><br><hr><br>
                <h4 style="text-decoration: underline;">Qualification :</h4>
                <table>
                    <tr>
                        <th>Degree</th>
                        <th>Program</th>
                        <th>Institute/University</th>
                        <th>Year</th>

                    </tr>

                    <tr>
                        <td>PhD</td>
                        <td>PhD(CSE)</td>
                        <td>Oriental University, Indore</td>
                        <td>Persuing</td>

                    </tr>

                    <tr>
                        <td>PG</td>
                        <td>M.Tech(CSE)</td>
                        <td>YCCE AUTONOMOUS,RTMNU.Nagpur</td>
                        <td>2013</td>

                    </tr>

                    <tr>
                        <td>UG</td>
                        <td>BE(CT)</td>
                        <td>YCCE, Nagpur, RTMNU</td>
                        <td>2008</td>

                    </tr>
                </table><br><hr><br>
                <h4 style="text-decoration: underline;">Experience :</h4>
                <p>10.9 Years in Academics, Industry 2.7 Years</p>

            </div>
            

        </div>
    </div>

    <div class="button-div">
        <a href="https://www.stvincentngp.edu.in/programs/artificial-intelligence" target="_blank" class="button">View more about department</a>
    </div>
    
</body>
</html>