<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/events/explore.css" /> -->
    <link rel="stylesheet" href="/css/events/explore.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100;200;400&display=swap"
      rel="stylesheet"
    />

    <title>AIVerse 1.0 | Explore Event</title>
    <link
      rel="icon"
      type="images/x-icon"
      href="/Static_images/ailogo.png"
    />
  </head>

  <body>
    <div class="heading">
      <h1>Explore</h1>
    </div>

    <div class="main-poster">
      <img
      src = "/Static_images/main_poster_event.png"  
      alt="main-poster"
      />
    </div>

    <div class="main-event-div">
      <div class="event" id="cubicreal">
        <div class="image">
          <img src="/Static_images/cr.png" alt="event-image" />
        </div>

        <div class="text-right">
          <h2>Cubic Realm</h2>
          <p>
            <strong style="font-size: 18px"
              >St. Vincent Pallotti College of Engineering & Technology AIVerse
              1.0 Presents</strong
            ><br />
            <strong style="font-size: 18px">🎮 Cubic-Realm🎮</strong><br />
            <br />

            Gear up for an epic showdown like never before, as "AI Verse 1.0:
            Cubic Realm" takes center stage, brought to you by the Department of
            Artificial Intelligence of St. Vincent Pallotti College of
            Engineering and Technology. This thrilling event is all set to
            redefine excitement with three heart-pounding rounds that promise to
            push boundaries and ignite your competitive spirit.<br />
          </p>
          <a href="/reg" class="reg-btn-right">Register</a>
        </div>
      </div>

      <div class="event event-right" id="gigagen">
        <div class="text-left">
          <h2>GigaGen</h2>
          <p>
            <strong style="font-size: 18px"
              >🎉St. Vincent Pallotti College of Engineering & Technology🎉
              AIVerse 1.0 Presents</strong
            ><br />
            <strong style="font-size: 18px">🤖GigaGen🤖</strong><br />
            <br />
            Our event revolves around the exciting realm of AI-generated
            content. It offers participants a unique platform to showcase their
            creativity and technical prowess. In the first round, participants
            will dive into comic generation, harnessing the power of AI to craft
            engaging and humorous comics. The second round will challenge
            participants to explore AI-driven video generation, pushing the
            boundaries of multimedia creation. With a total of two rounds, the
            event promises an exhilarating journey through AI creativity.<br />
          </p>
          <a href="/reg" class="reg-btn-left">Register</a>
        </div>

        <div class="image">
          <img src="/Static_images/gg.png" alt="event-image" />
        </div>
      </div>

      <div class="event" id="beatbots">
        <div class="image">
          <img src="/Static_images/bb.png" alt="event-image" />
        </div>

        <div class="text-right">
          <h2>BeatBots</h2>
          <p>
            <strong style="font-size: 18px"
              >St. Vincent Pallotti College of Engineering & Technology AIVerse
              1.0 Presents</strong
            ><br />
            <strong style="font-size: 18px">🎵 BeatBots 🎵</strong><br />
            <br />
            Join us for an electrifying exploration into the future of music
            creation at BeatBots, an innovative event dedicated to harnessing
            the power of Generative AI in the realm of music composition.
            Prepare to immerse yourself in a captivating experience where
            technology and creativity harmonize to produce mesmerizing beats and
            tunes.<br />
          </p>
          <a href="/reg" class="reg-btn-right">Register</a>
        </div>
      </div>
      <div class="event event-right" id="optiml">
        <div class="text-left">
          <h2>OptiML</h2>
          <p>
            <strong style="font-size: 18px"
              >St. Vincent Pallotti College Of Engineering & Technology Present
              AIVerse 1.0</strong
            >
            <br />
            <strong style="font-size: 18px"
              >🚀Unleash the Power of AI at OptiML! 🌟</strong
            >
            <br />
            <br />

            Get ready for an immersive dive into The world of machine learning!
            "optiML" isn't just about theory; it's a hands-on experience that
            will bring your machine learning skills to life. You'll build,
            train, and fine-tune machine learning models—a skill crucial in a
            world driven by data and AI. You'll not only learn to predict
            outcomes but also understand the 'why' behind them, honing your
            analytical skills.<br />
          </p>
          <a href="/reg" class="reg-btn-left">Register</a>
        </div>

        <div class="image">
          <img src="/Static_images/opti.png" alt="event-image" />
        </div>
      </div>
      <div class="event" id="venturevista">
        <div class="image">
          <img src="/Static_images/vv.png" alt="event-image" />
        </div>

        <div class="text-right">
          <h2>Venture Vista.AI</h2>
          <p>
            <strong style="font-size: 18px"
              >St. Vincent Pallotti College of Engineering & Technology AIVerse
              1.0 Presents</strong
            >
            <br />
            <strong style="font-size: 18px">🚀 Venture Vista.AI 🚀</strong>
            <br />
            <br />
            "Where Dreams Meet Technology" <br />
            Join us for an innovation-packed journey at Venture Vista.AI, where
            technology and entrepreneurship converge to shape the future! <br />
          </p>
          <a href="/reg" class="reg-btn-right">Register</a>
        </div>
      </div>
    </div>
  </body>
</html>
