<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/team.css" />
    <script
      src="https://kit.fontawesome.com/ab5e4afff4.js"
      crossorigin="anonymous"
    ></script>

    <title>Aiverse 1.0 | Team</title>
    <link
      rel="icon"
      type="images/x-icon"
      href="/Static_images/ailogo.png"
    />
  </head>
  <body>
    <!-- header section  -->
    <header class="navbar nav-colored nav-transparent" id="navbar">
      <div class="header">
        <div id="logo">
          <a href="/">
            <!-- <img class="team-img" src="{% static 'Static_images/ailogo.png' %}" alt="logo"> -->
            <img
              class="team-img"
              src="/Static_images/ailogo.png"
              alt="logo"
            />
          </a>
        </div>
        <div class="menu">
          <ul class="menu-links">
            <li><a href="/about_dept">About DE-AI</a></li>
            <!-- <li><a href="/login">ADMIN LOGIN</a></li> -->
            <li><a href="/reg">REGISTRATION</a></li>
          </ul>
        </div>
      </div>
    </header>

    <!-- hero div  -->
    <div class="main-hero-div">
      <!-- coordinators  -->
      <div class="Coordinators">
        <div class="heading">
          <h1>Coordinators</h1>
        </div>
        <div class="coordinators-images-div">
          <div class="anshula">
            <img
              class="team-img"
              src="/Static_images/coordinator/1.png"
              alt=""
            />
          </div>
          <div class="harshad">
            <img
              class="team-img"
              src="/Static_images/coordinator/2.png"
              alt=""
            />
          </div>
          <div class="anvesh">
            <img
              class="team-img"
              src="/Static_images/coordinator/3.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- event-head  -->
      <div class="event-head">
        <div class="heading">
          <h1>Event Heads</h1>
        </div>
        <div class="head-images-div">
          <div class="muskan head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/mukul.png"
              alt=""
            />
          </div>
          <div class="rupali head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/5.png"
              alt=""
            />
          </div>
          <div class="shrushti head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/6.png"
              alt=""
            />
          </div>
          <div class="rohan head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/7.png"
              alt=""
            />
          </div>
          <div class="shantanu head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/8.png"
              alt=""
            />
          </div>
          <div class="kunal head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/9.png"
              alt=""
            />
          </div>
          <div class="malhar head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/10.png"
              alt=""
            />
          </div>
          <div class="kaushal head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/11.png"
              alt=""
            />
          </div>
          <div class="mukul head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/12.png"
              alt=""
            />
          </div>
          <div class="dhiray head-img">
            <img
              class="team-img"
              src="/Static_images/coordinator/13.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- event-coordinators  -->
      <div class="event-coordinators">
        <div class="heading">
          <h1>Event Coordinators</h1>
        </div>
        <div class="event-coordinators-images-div">
          <div class="cubic-realm">
            <div class="event-heading">
              <h2>Cubic Realm</h2>
            </div>
            <div class="event-grp">
              <div class="devanshu">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/14.png"
                  alt=""
                />
              </div>
              <div class="pritish">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/15.png"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="gigagen">
            <div class="event-heading">
              <h2>GigaGen</h2>
            </div>
            <div class="event-grp">
              <div class="shreerang">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/16.png"
                  alt=""
                />
              </div>
              <div class="atharva">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/17.png"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="beatbots">
            <div class="event-heading">
              <h2>BeatBots</h2>
            </div>
            <div class="event-grp">
              <div class="rohit">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/18.png"
                  alt=""
                />
              </div>
              <div class="tanay">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/19.png"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="optiml">
            <div class="event-heading">
              <h2>OptiML</h2>
            </div>
            <div class="event-grp">
              <div class="anvesh_k">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/20.png"
                  alt=""
                />
              </div>
              <div class="ketan">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/21.png"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="vv">
            <div class="event-heading">
              <h2>VentureVista.AI</h2>
            </div>
            <div class="event-grp">
              <div class="shantanu_f">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/22.png"
                  alt=""
                />
              </div>
              <div class="ashwin">
                <img
                  class="team-img"
                  src="/Static_images/coordinator/23.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ailogo-team">
        <img src="/Static_images/coordinator/24.png" alt="" />
      </div>
    </div>

    <div class="reg">
      <a href="/">HOME</a>
    </div>

    <!-- footer section  -->
    <footer class="footer">
      <div class="footer-logo">
        <img src="/Static_images/ailogo.png" alt="" />
        <h1>AIVerse 1.0</h1>
      </div>
      <br />

      <div class="footer-content">
        <div class="about">
          <h3 style="text-decoration: underline">About :</h3>
          <p></p>
          <br />
        </div>

        <div class="contact">
          <h3 style="text-decoration: underline">Contact :</h3>
          <br />
          <p>
            Anshula Mendhe:
            <a href="tel:7385869038" style="text-decoration: none"
              >7385869038</a
            >
          </p>
          <p>
            Harshad Kshirsagar:
            <a href="tel:9284224243" style="text-decoration: none"
              >9284224243</a
            >
          </p>
          <br />
          <p>
            <span style="text-decoration: underline">Email :</span>
            <a
              href="mailto: svpcetaiverse@gmail.com"
              style="text-decoration: none"
              >svpcetaiverse@gmail.com</a
            >
          </p>
        </div>
        <br />

        <div class="sociallinks">
          <h3 style="text-decoration: underline">Social :</h3>
          <br />
          <a
            href="https://instagram.com/_ai_verse_1.0?igshid=MzRlODBiNWFlZA=="
            target="_blank"
            ><i class="fa-brands fa-instagram fa-2xl"></i
          ></a>
        </div>
      </div>

      <div class="developed_by">
        <div class="developed_by_content">
          <h3 style="text-decoration: underline">Developed By:</h3>
          <p style="color: white">Kaushal Bhiwapurkar</p>
          <p style="color: white">Malhar Ramteke</p>
          <p style="color: white">Anvesh Dange</p>
        </div>
      </div>
      <div class="c-line"></div>
      <div class="copyright">Copyright &copy;2023 | AIverse 1.0</div>
    </footer>
  </body>
</html>
